<link rel="stylesheet" href="/stylesheets/create.css">
<div id="create" class="container mt-5">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mt-2">新增一筆支出</h1>
          {{> message}}
          <form action="/record" method="POST" class="mt-4">
            <div class="formGroup row mb-3">
              <label for="name" class="col-2 col-form-label"><span class="text-danger">*</span> 名稱︰</label>
              <div class="col-9">
                <input type="text" id="name" class="form-control" name="name" value="{{record.name}}">
              </div>
            </div>
            <div class="formGroup row mb-3">
              <label for="date" class="col-2 col-form-label"><span class="text-danger">*</span> 日期︰</label>
              <div class="col-9">
                <input type="date" id="date" class="form-control" name="date" value="{{record.date}}">
              </div>
            </div>
            <div class="formGroup row mb-3">
              <label for="category" class="col-2 col-form-label"><span class="text-danger">*</span> 類別︰</label>
              <div class="col-9">
                <select id="category" class="form-select" name="category_id">
                  <option value="">請選擇</option>
                  {{#each categoryList}}
                  <option value="{{this._id}}" {{#ifIdEqual this._id ../record.category_id}}selected{{/ifIdEqual}}>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="formGroup row mb-3">
              <label for="amount" class="col-2 col-form-label"><span class="text-danger">*</span> 金額︰</label>
              <div class="col-9">
                <input type="number" id="amount" class="form-control" name="amount" value="{{record.amount}}">
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <button class="btn btn-primary w-50" type="submit">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>