<link rel="stylesheet" href="/stylesheets/index.css">
<div id="index" class="container mt-5">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card">
        <div class="card-body">
          <select class="form-select" id="category" name="category_id">
            <option selected>請選擇</option>
            {{#each categoryList}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <div class="mt-3 d-flex align-items-end justify-content-between">
            <div class="h3">總金額︰</div>
            <div class="display-4">12300</div>
          </div>
          <ul class="allRecord list-group mt-2">
            {{#each recordList}}
            <li class="list-group-item">
              <div class="categoryIcon">
                <i class="fas fa-home fa-2x"></i>
              </div>
              <div class="mainContent">
                <div class="name">{{this.name}}</div>
                <div class="date">{{this.date}}</div>
              </div>
              <div class="buttonBox">
                <form action="/record/123?_method=PUT" method="POST">
                  <button class="btn btn-outline-info" type="submit">修改</button>
                </form>
                <form action="/record/123?_method=DELETE" method="POST">
                  <button class="btn btn-outline-danger" type="submit">刪除</button>
                </form>
              </div>
              <div class="amount">{{this.amount}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <a class="btn btn-primary w-50" href="/record/create">新增支出</a>
      </div>
    </div>
  </div>
</div>